<div class="summary">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-2 text-center case">
          <p> # transports effectués </p>
          <p class="box"><strong> 12 </strong></p>
      </div>
      <div class="col-md-2 text-center case">
          <p> # revenu généré</p>
          <p class="box" ><strong> 2500 € </strong></p>
      </div>
      <div class="col-md-2 text-center case">
          <p> # prochains voyages </p>
          <p class="box" > <strong> 2 (1) </strong> </p>
      </div>
    </div>
  </div>
</div>

