
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">

  <tr>
   <td align="center" style="padding: 20px 0px 30px 0px;">
    <img src="images/gare.png" alt="whiz" width="600" height="300" style="display: block;" />
   </td>
  </tr>

  <tr>
    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
         <td style="color: #469AE0; font-family: Helvetica, sans-serif; font-size: 24px;">
          Bienvenue chez Whiz <%= @user.first_name %>
         </td>
        </tr>
        <tr>
         <td style= "color: #153643; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 20px; padding: 20px 0 30px 0;">
          Whiz est la plateforme idéale pour envoyer ses colis en express. </br>
          Comment ça marche ? </br>
          </br>
          C'est très simple et en trois étapes : </br>
          1/ Déposez votre annonce </br>
          2/ Choisissez votre transporteur </br>
          3/ Validez votre paiement </br>
         </td>
        </tr>
      </table>


      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="260" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tr>
              <td>
               <img src="images/send.jpeg" alt="" width="100%" height="140" style="display: block;" />
              </td>
             </tr>
             <tr>
              <td style= "color: #153643; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 20px; padding: 20px 0 30px 0; padding: 25px 0 0 0;">
               <p style= "font-size: 18px; text-align: center"><a href="http://www.whiz.fr/missions/new" style="color: #153643;"><font color="#153643">J'envoie un colis ! </font></a> </p>
               Je souhaite envoyer un colis en express.
               Decouvrez nos transporteur disponible
              </td>
             </tr>
            </table>
          </td>

          <td style="font-size: 0; line-height: 0;" width="20">
          &nbsp;
          </td>

          <td width="260" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tr>
              <td>
               <img src="images/deliver.jpeg" alt="" width="100%" height="140" style="display: block;" />
              </td>
             </tr>
             <tr>
              <td style= "color: #153643; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 20px; padding: 20px 0 30px 0; padding: 25px 0 0 0;">
               <p style= "font-size: 18px; text-align: center"><a href="http://www.whiz.fr/trips/new" style="color: #153643;"><font color="#153643">Je transporte un colis </font></a> </p>
               Je souhaite devenir transporteur et économiser de l'argent sur mon billet.
               J'enregistre mon voyage et deviens transporteur de colis
              </td>
             </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td bgcolor="#469AE0" style="padding: 30px 30px 30px 30px;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; width='75%'"">
            &reg; <a href="www.whiz.fr" style="color: #ffffff;"><font color="#ffffff">A très vite sur Whiz.fr </font></a>
          </td>
          <td align="right">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                 <a href="http://www.twitter.com/">
                  <img src="images/twitter.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                 </a>
                </td>
                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                <td>
                 <a href="http://www.facebook.com/">
                  <img src="images/facebook.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                 </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
     </table>
    </td>
  </tr>
</table>
