/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.info-container {
  display: flex;
}

.info-item {
  flex: 0 0 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  min-height: 300px;
  @media (max-width: 480px) {
    flex: 0 0 100%;
  }
}
