.login-form {
  border-radius:0px;
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-group {
  margin: 20px 0px;
}

.input-group-addon {
  background-color: $blue;
  color: white;

}

.margin-help {
  margin-top: -15px;
}

#logo-modal {
  position: absolute;
  left: 10px;
  bottom: 12px;
}

#logo2-modal {
  position: absolute;
  left: 50px;
  bottom: 17px;
}

#close-modal {
  position: relative;
}
