.wrapper-title-search {
  padding: 30px 0;
  background-color: white;
  background: linear-gradient(rgba(70, 154, 224, 0.1) 0%, rgb(255,255,255) 30%);
  a {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.wrapper-results-search {
  background-color:$gray-lighter;
  padding: 20px 0;
}

#search-results {
  padding: 20px 30px;
  background-color: white;
  border-radius: $border-radius-base;
  margin-bottom: 20px;
}

#intro-choice {
  width:80%;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 20px;
}

.mission-date {
  h2 {
    font-size: 23px;
  }
}

#itinerary {
  display:flex;
  justify-content: flex-start;
  h1 {
    font-size:25px;
    margin-top:12px;
  }
}

#departure, #arrival {
  padding: 0 20px;
  img {
     margin: 0 auto;
  }
}
#transit-mission {
  padding: 0 40px;
  position: relative;
  i {
    position:absolute;
    bottom:5px;
  }
}

#departure, #arrival, #transit-mission {
  display:flex;
  flex-direction: column;
}

.mission-date {
  padding: 0 20px
}
