.wrapper-title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color:$gray;

  border-bottom : 1px solid $gray;


}

.wrapper-results-search {
  background-color:$gray-lighter;
  padding: 20px 0;
}

#search-results {
  padding: 20px 30px;
  background-color: white;
  border-radius: $border-radius-base;
  margin-bottom: 20px;
}

#intro-choice {
  width:80%;

  margin-bottom: 20px;
}
