<div class="container padded container_profile">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 ">

        <ul class="list-inline list-unstyled vertical-center">
          <li><%= cl_image_tag current_user.one_picture_url, class: "avatar-large" %></li>
          <li><h1>Modifier mon profile</h1></li>
        </ul>
        <%= link_to "Voir mon profile", show_user_path(current_user) %>

      <div class="row first_row profile">
        <div class="col-xs-1 text-right side_bar_profile_item">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="col-xs-3 text-left side_bar_profile_item">
          <p>Informations personelles</p>
        </div>
        <div class="col-xs-8 content">
          <%= render "devise/registrations/edit_form", user: current_user %>
        </div>
      </div>
    </div>
   </div>
</div>


