<div class="container padded">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <div class="row">
        <div class="col-xs-2">
          <%= cl_image_tag @user.picture, class: "avatar-square"%>
        </div>
        <div class="col-xs-10">
          <h1><%= @user.description %></h1>
          <p>San Francisco, California, United States · Member since April 2015</p>
          <p>Edit Profile</p>
        </div>
      </div>

    </div>
  </div>
</div>
