<div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.4)), url('http://res.cloudinary.com/steencloud/image/upload/v1464341479/grand-central-station-hurry-blurred-blur_lizlz2.jpg');">
  <div class="banner-content">
      <h1>Livrer vos objets moins cher, illico,</h1>
      <h1 class="fixe">grâce à <span class="element"></span></h1>

    <p>Envoyez vos objets jusqu'à 90% moins cher, en toute sérénité avec assurance.</p>
    <%= link_to "LIVRER UN COLIS", new_mission_path, class: "btn btn-lg btn-primary"%>
    <div class="icone_down">
      <a href="#info">
      <i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>


