<%= render "shared/banner" %>

<div class="wrapper-home">
  <div class="container">
    <div class="row" id="info">
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="text-center padded">
          <%= cl_image_tag "fast_f9md5p.png"%>
        </div>
        <h4> Rapide </h4>
        <p>Chez Whiz, Express retrouve son vrai sens. Disponible dans toute la France. Livraison Paris - Lyon en 2h Chrono. Qui dit mieux ?</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="text-center padded">
          <%= cl_image_tag "safe_wc49xw.png"%>
        </div>
        <h4> Fiable </h4>
        <p>Votre colis est transporté de manière et du fait de son transport direct et manuel, il ne subit aucun choc comme c'est le cas lors des enchainements chargement / déchargement d'un service de livraison classique</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="text-center padded">
          <%= cl_image_tag "ecology_dj1ujy.png"%>
        </div>
        <h4> Responsable </h4>
        <p>Les transports Whiz ont un impact carbone nul. C'est énorme !</p>
      </div>
    </div>
  </div>
</div>
