<%= render "shared/navbar_transporteur" %>
<%= render "shared/banner_transporteur" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="text-center padded">
        <i class="fa fa-money fa-5x" aria-hidden="true"></i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa possimus cupiditate esse minima repellat rem molestias nostrum totam tempora aperiam, deserunt aliquam ex, officiis molestiae doloribus dicta ab saepe. Id.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-center padded">
        <i class="fa fa-beer fa-5x" aria-hidden="true"></i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur itaque, numquam magnam beatae quam, mollitia, amet molestiae pariatur eligendi eos, aliquid enim! Aliquam veritatis quae suscipit. Quos perferendis neque beatae.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="text-center padded">
        <i class="fa fa-motorcycle fa-5x" aria-hidden="true"></i>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illum, laboriosam facilis eveniet nemo repellat dicta. Eveniet quis, sunt magnam nulla aliquam veniam impedit, veritatis alias? Laudantium ducimus voluptates blanditiis.</p>
    </div>
  </div>
</div>
