<%= render "shared/navbar_transporteur" %>
<%= render "shared/banner_transporteur" %>

<div class="wrapper-home">
<div class="container">
  <div class="row" id="info">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="padded">
        <i class="fa fa-train fa-5x" aria-hidden="true"></i>
      </div>
      <h4>Ne voyagez plus a vide</h4>
      <p>Prenez le train et transportez un colis de gare à gare. </p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="text-money padded">
        <i class="fa fa-money fa-5x" aria-hidden="true"></i>
      </div>
      <h4>Gagner de l'argent en voyageant</h4>
      <p>Rentabilisez votre billet de train, et gagnez de l'argent en voyageant! Vous êtes rémunérez pour transporter du départ à l'arrivée du train un colis necessitant une livraison express.</p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="text-love padded">
        <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
      </div>
      <h4>Protégez la planète</h4>
      <p>En transportant un colis via un voyage que vous effectuez déja, vous limitez l'impact carbone de la livraison, la planète vous dit merci.</p>
    </div>
  </div>
</div>
</div>
