.panel-info {
    border-color: #bce8f1;
    margin-top: 50px;
    margin-bottom: 50px;
}

.panel-footer {
  padding: 15px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
