.user-card {
  height:100%;
  display:flex;
  justify-content:space-between;
}

.user-info {
  flex: 18%;
  margin-right: 3px;
}

.user-review {
  flex: 75%;
  margin-top: 40px;
  overflow:auto;

}

.review-scroll {
  // position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow: auto;
}
