<div class="summary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-2 text-center case">
          <p> # Mes colis envoyés </p>
          <p class="box"><strong> 6 </strong></p>
      </div>
      <div class="col-md-2 text-center case">
          <p> # Mes prochains colis </p>
          <p class="box" > <strong> 1 (1) </strong> </p>
      </div>
    </div>
  </div>
</div>

