
<% content_for(:title) do %>
  Mes Colis
<% end %>

<h4 class="title-mission" style="text-align: center"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> Mes Colis | envoyés : <%= Mission.where(status: 'delivered').length %> | en cours : <%= @missions.length - Mission.where(status: 'delivered').length %></h4>

<%if @missions.first.nil? %>
  <p>Vous n'avez pas de Colis enregistrés</p>
  <p>Envoyez un colis aujourd'hui et gagnez du temps !</p>
  <p><%= link_to 'Envoyez un colis', new_mission_path %></p>
<%else%>
  <%= render "dashboard" %>
<%end%>

